.sidebar
{
    height:100vh !important;
    justify-content: center;
    align-items: center;
    
}
.pro-sidebar
{
    box-shadow: 10px 5px 5px #EAF2FC ;
    border:1px medium black;
}
.logo_name
{
    font-size: large;
}
.sidebar .logo
{
    justify-content: center;
    text-align: center;
    color:black;
}
.sidebar .pro-sidebar-inner
{
   background-color: white;
}
/* .sidebar .pro-sidebar-inner .pro-sidebar-layout .active
{
    background-color: aqua;
} */
.sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item
{
    color:black;
} 
